@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        background-image: linear-gradient(0deg, #74ae1d, #fff200, #0095d0);
    }

    section#login {
        width: 90vw;
        top: 50%;
    }

    section#login>div#imagem {
        background: rgba(0, 0, 0, 0) url(../imagens/predio-amarelo.jpg) no-repeat;
        float: left;
        background-size: cover;
        width: 40%;
        height: 100%;
    }

    section#login>div#formulario {
        width: 60%;
        float: right;
    }

    div#formulario>h1 {
        font-size: 2em;

    }

    form {
        width: 80%;
        margin: auto;
    }






}

@media screen and (min-width: 1024px) {

    html {
        background-image: linear-gradient(0deg, #74ae1d, #fff200 55%, #0095d0);
    }

    body {
        height: 100vh;
        width: 100vw;
    }

    section#login {
        top: 50%;
        width: 950px;
    }

    section#login>div#imagem {
        background: rgba(0, 0, 0, 0) url(../imagens/flor-amarela.jpg) no-repeat;
        background-size: cover;
        float: right;
        width: 45%;
        height: 100%;
    }

    section#login>div#formulario {
        width: 55%;
        float: left;
    }

    div#formulario>h1 {
        font-size: 2em;

    }

    form {
        width: 86%;
        margin: auto;
    }





}