@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        background-image: linear-gradient(0deg, #74ae1d, #fff200, #0095d0);
    }

    section#login {
        width: 81vw;
    }

    section#login>div#imagem {
        background: rgba(0, 0, 0, 0) url(../imagens/predio-amarelo.jpg) no-repeat;
        float: left;
        background-size: cover;
        width: 45%;
        height: 100%;
    }

    div#formulario>h1 {
        font-size: 2em;

    }


}

@media screen and (min-width: 1024px) {

    html {
        background-image: linear-gradient(0deg, #74ae1d, #fff200 55%, #0095d0);
    }

    body {
        height: 100vh;
        width: 100vw;
    }

    section#login {
        width: 950px;
    }

    section#login>div#imagem {
        background: rgba(0, 0, 0, 0) url(../imagens/flor-amarela.jpg) no-repeat;
        background-size: cover;
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login>div#formulario {
        width: 90%;
    }

    div#formulario>h1 {
        font-size: 2em;

    }
}