@charset "UTF-8";

/* Paleta de cores
Amarelo Primário: #FFD700 (amarelo puro)
Azul Celeste: #87CEEB (um azul suave e claro)
Verde Lima: #ADFF2F (um verde vibrante e vivo)
Azul Marinho: #1E90FF (um azul profundo e escuro)
Verde Água: #7FFFD4 (um verde claro e refrescante)
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-image: linear-gradient(0deg, #74ae1d 60%, #fff200);
}

body {
    background-color: #000000a3;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 40%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 280px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.437);
    
    
    transform: translate(-50%, -50%);
    transition: width .3s, height .1s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    background: #00000000 url(../imagens/flor-amarela.jpeg) no-repeat;
    background-size: cover;
    background-position: right center;
    height: 200px;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div#formulario>h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}

div#formulario>p {
    text-align: center;
}

form>div.campo {
    background-color: #00377e;
    text-align: center;
    display: block;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0px;
}


form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #348910;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

form>input[type=submit]:hover {
    background-color: rgb(20, 65, 0);
    transition: all .5s;
}

form>input.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #004caf;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

form>input.botao:hover {
    background-color: #004caf;
    color: white;
    transition: all .5s;
}

form>input.botao>i {
    font-size: 0.8em;
}